[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "vendor/vma"]
	path = vendor/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "vendor/volk"]
	path = vendor/volk
	url = https://github.com/zeux/volk
[submodule "vendor/vulkan"]
	path = vendor/vulkan
	url = https://github.com/KhronosGroup/Vulkan-Headers
        branch = vulkan-sdk-1.4.313
[submodule "vendor/vulkan_utils"]
	path = vendor/vulkan_utils
	url = https://github.com/KhronosGroup/Vulkan-Utility-Libraries
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui
        branch = docking
